body {
  margin: 0;
  padding: 0;
}

/*top nav bar*/
.TopMenu {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
}

.TopMenu a {
  text-decoration: none;
  color: brown;
  display: block;
  padding: 20px 18px;
  text-align: center;
  font-family: Verdana, sans-serif;
}

.TopMenu li {
  list-style: none;
  float: right;
  height: 60px;
  margin-right: 20px;
}

.TopMenu a:hover {
  background-color: white;
}

.TopMenu a.active {
  background-color: white;
}

.TopMenu:hover {
  animation: topMenuAnimation 7s infinite;
}

@keyframes topMenuAnimation {
  0% {
    background-color: black;
  }
  25% {
    background-color: royalblue;
  }
  50% {
    background-color: gray;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.TopMenu ul {
  display: inline;
}

.TopMenu h2 {
  display: inline;
  color: white;
  font-size: 40px;
  padding-top: 18px;
  padding-left: 20px;
  font-family: Verdana, sans-serif;
}

.Colored2 {
  display: inline-block;
  color: cornflowerblue;
  padding-top: 5px;
}
/*semi-circular Nav bar*/
.semicircle {
  width: 135px;
  height: 135px;
  margin-left: -90px;
  background: url("icons/menu.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 93px;
  background-position-y: 50%;
  border-radius: 43%;
  position: fixed;
  top: 40%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle li {
  list-style: none;
}

.BackToTop {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: -31px;
  margin-left: 75px;
  position: absolute;
}

.semicircle:hover .BackToTop {
  background-image: url("icons/arrow\ up\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .BackToTop:hover {
  transition: transform 1s;
  transform: scale(17);
}

.HomePage {
  width: 3.5px;
  height: 3.5px;
  border-radius: 43%;
  margin-top: 6px;
  margin-left: 111px;
  position: absolute;
}

.semicircle:hover .HomePage {
  background-image: url("icons/home\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .HomePage:hover {
  transition: transform 1s;
  transform: scale(17);
}

.PhysicalWB {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 54px;
  margin-left: 120px;
  position: absolute;
}

.semicircle:hover .PhysicalWB {
  background-image: url("icons/running\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .PhysicalWB:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Escapism {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 101px;
  margin-left: 110px;
  position: absolute;
  transition: transform 1s;
}
.semicircle:hover .Escapism {
  background-image: url("icons/meditation\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 7, 7, 0.6);
}

.semicircle .Escapism:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Meeting {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 136px;
  margin-left: 73px;
  position: absolute;
}

.semicircle:hover .Meeting {
  background-image: url("icons/phone\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .Meeting:hover {
  transition: transform 1s;
  transform: scale(17);
}

.gone {
  display: none;
}
/*End of semi-circular nav-bar*/

/*Image diaporama*/
.diaporama .images {
  display: none;
}

.diaporama img {
  vertical-align: middle;
  width: 100%;
  height: 650px;
}

.diaporama {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.text h2 {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 25%;
  color: white;
  text-shadow: 4px 0px 0px #ce0000;
  font-size: 40px;
}

.text h1 {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 13%;
  color: black;
  text-decoration-style: bold;
  text-shadow: 4px 6px 8px #9590ce;
  width: auto;
  font-size: 70px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*Description*/
.page {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 50px;
  background-image: url("pexels-mohan-reddy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  display: table;
}

.description .paragraphs {
  width: 90%;
  margin-left: 5%;
}

.description h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  background: black;
}

.description h2 {
  text-align: center;
}

.description .paragraph {
  height: 280px;
  display: block;
  border-radius: 5%;
  width: 45%;
  margin-bottom: 30px;
}

.description .paragraph.left {
  margin-left: 40px;
  float: left;
  background-color: blueviolet;
}

.description .paragraph p {
  margin-left: 10px;
  margin-right: 10px;
}

.description .paragraph.right {
  margin-right: 40px;
  float: right;
  background-color: yellow;
}

/*list of activities*/
.schedule {
  width: 50%;
  background-image: url("pexels-photo.jpeg");
  background-size: cover;
  border-radius: 5px;
  margin-left: 20px;
  height: 100%;
  float: left;
  margin-left: 5%;
}

.schedule h2 {
  padding-top: 0px;
  text-align: center;
  color: white;
}

.collapsibles {
  padding-bottom: 20px;
}

.collapsible {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: black;
  font-weight: 900;
  cursor: pointer;
  padding: 18px;
  margin-left: 10%;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  border: solid 0.5px white;
}

.schedule p {
  color: white;
  margin: 20px 30px 20px;
}

/*set a different color when hovered*/
.collapsible.active,
.collapsible:hover {
  width: 90%;
  margin-left: 5%;
}

.content {
  width: 80%;
  margin-left: 10%;
  padding: 0 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 77, 121, 1) 75%,
    rgba(0, 212, 255, 1) 100%
  );
}

.collapsible:after {
  content: "\02795"; /*plus" sign (+)*/
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2796"; /*"minus" sign (-)*/
}

.schedule .underlined {
  color: white;
  text-align: left;
  margin-left: 20px;
  text-decoration: underline;
}

.collapsibles ul li {
  margin-bottom: 10px;
  margin-right: 10px;
}

.collapsibles iframe {
  display: block;
  align-content: center;
  width: 320px;
  height: 210px;
}

.meditation {
  width: 95%;
  padding-top: 20px;
}
/*music player*/
.music-player {
  float: right;
  width: 40%;
  margin-right: 30px;
  background-image: url("pexels-photo.jpeg");
  margin-top: 10%;
}

.music-player h2 {
  font-size: 30px;
  text-align: center;
  color: white;
}

.audio-container {
  background-color: #000;
  box-shadow: 0 15px 15px 5px rgb(247, 247, 247);
  border-radius: 15px;
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 80px 18%;
  z-index: 10;
  width: 310px;
}

/*resize and style the image*/
.image-container {
  position: relative;
  width: 90px;
}

.image-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 90px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

/*apply a rotating image animation when the music is playing*/
.audio-container.play .image-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/*styling the buttons*/
.action-btn {
  background-color: #000;
  border: 0;
  color: #f7be04;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #fcb51b;
  font-size: 30px;
}

.action-btn:hover {
  color: white;
}

/*styling the info section*/
.audio-info {
  background-color: rgb(255, 166, 0);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(50%);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

/*different styling when playing*/
.audio-container.play .audio-info {
  opacity: 1;
  transform: translateY(-100%);
}

.audio-info h4 {
  margin: 0;
}

/*style the progress bar*/
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
}

.Bottom-Page{
  padding:1px;
  width:100%;
  background-color: rgb(18, 18, 24);
  font-weight: bold;
  color: white;
  text-shadow: white 0px 4px 3px;
  text-align: center;
}
