body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

/*top nav bar*/
.TopMenu {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.9);
}

.TopMenu a {
  text-decoration: none;
  color: brown;
  display: block;
  padding: 20px 18px;
  text-align: center;
}

.TopMenu li {
  list-style: none;
  float: right;
  height: 60px;
  margin-right: 20px;
}

.TopMenu a:hover {
  background-color: white;
}

.TopMenu a.active {
  background-color: white;
}

.TopMenu:hover {
  animation: topMenuAnimation 7s infinite;
}

@keyframes topMenuAnimation {
  0% {
    background-color: black;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: gray;
  }
  75% {
    background-color: red;
  }
  100% {
    background-color: black;
  }
}

.TopMenu ul {
  display: inline;
}

.TopMenu h2 {
  display: inline;
  color: white;
  font-size: 40px;
  padding-top: 18px;
  padding-left: 20px;
}

.Colored2 {
  display: inline-block;
  color: cornflowerblue;
  padding-top: 5px;
}
/*semi-circular Nav bar*/
.semicircle {
  width: 135px;
  height: 135px;
  margin-left: -90px;
  background: url("icons/menu.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 93px;
  background-position-y: 50%;
  border-radius: 43%;
  position: fixed;
  top: 40%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle li {
  list-style: none;
}

.BackToTop {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: -16px;
  margin-left: 114px;
  position: absolute;
}

.semicircle:hover .BackToTop {
  background-image: url("icons/arrow\ up\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .BackToTop:hover {
  transition: transform 1s;
  transform: scale(17);
}

.HomePage {
  width: 3.5px;
  height: 3.5px;
  border-radius: 43%;
  margin-top: 21px;
  margin-left: 150px;
  position: absolute;
}

.semicircle:hover .HomePage {
  background-image: url("icons/home\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .HomePage:hover {
  transition: transform 1s;
  transform: scale(17);
}

.PhysicalWB {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 69px;
  margin-left: 159px;
  position: absolute;
}

.semicircle:hover .PhysicalWB {
  background-image: url("icons/running\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .PhysicalWB:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Escapism {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 116px;
  margin-left: 149px;
  position: absolute;
  transition: transform 1s;
}
.semicircle:hover .Escapism {
  background-image: url("icons/meditation\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 7, 7, 0.6);
}

.semicircle .Escapism:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Meeting {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 151px;
  margin-left: 112px;
  position: absolute;
}

.semicircle:hover .Meeting {
  background-image: url("icons/phone\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .Meeting:hover {
  transition: transform 1s;
  transform: scale(17);
}

.gone {
  display: none;
}
/*End of semi-circular nav-bar*/

/*Image diaporama*/
.images {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 650px;
}

.diaporama {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.text h1 {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 13%;
  color: #fff;
  text-shadow: 0 2px 3px #747474, 1px 3px 4px #222, 0 8px 3px #474747,
    0 11px 4px #747474, 0 14px 4px cyan, 0 17px 4px #343434, 0 20px 4px white;
  width: auto;
  font-size: 70px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
