* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  height: 1000px;
}

/*semi-circular Nav bar*/
.semicircle {
  width: 135px;
  height: 135px;
  margin-left: -90px;
  background: url("icons/menu.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position-x: 93px;
  background-position-y: 50%;
  border-radius: 43%;
  position: fixed;
  top: 40%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.4);
}

li {
  list-style: none;
}

.BackToTop {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: -16px;
  margin-left: 114px;
  position: absolute;
}

.semicircle:hover .BackToTop {
  background-image: url("icons/arrow\ up\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .BackToTop:hover {
  transition: transform 1s;
  transform: scale(17);
}

.HomePage {
  width: 3.5px;
  height: 3.5px;
  border-radius: 43%;
  margin-top: 21px;
  margin-left: 150px;
  position: absolute;
}

.semicircle:hover .HomePage {
  background-image: url("icons/home\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transform: scale(15);
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .HomePage:hover {
  transition: transform 1s;
  transform: scale(17);
}

.PhysicalWB {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 69px;
  margin-left: 159px;
  position: absolute;
}

.semicircle:hover .PhysicalWB {
  background-image: url("icons/running\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .PhysicalWB:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Escapism {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 116px;
  margin-left: 149px;
  position: absolute;
  transition: transform 1s;
}
.semicircle:hover .Escapism {
  background-image: url("icons/meditation\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .Escapism:hover {
  transition: transform 1s;
  transform: scale(17);
}

.Meeting {
  width: 3.4px;
  height: 3.4px;
  border-radius: 43%;
  margin-top: 151px;
  margin-left: 112px;
  position: absolute;
}

.semicircle:hover .Meeting {
  background-image: url("icons/phone\ icon.png");
  background-size: 1.9px;
  background-repeat: no-repeat;
  background-position-x: 33.5%;
  background-position-y: 50%;
  transition: transform 1s;
  transform: scale(15);
  background-color: rgba(255, 255, 255, 0.4);
}

.semicircle .Meeting:hover {
  transition: transform 1s;
  transform: scale(17);
}
/*End of semi-circular nav-bar*/

/*Image slider*/
.slides {
  display: visible;
  list-style: none;
  width: 100%;
  min-width: 1000px;
  height: auto;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 650px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

/*next and prev buttons*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 325px;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*caption*/
.text p {
  color: #ffffff;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  display: block;
}

.text h1 {
  color: red;
  font-size: 40px;
  padding: 100px 12px;
  position: absolute;
  bottom: 50px;
  width: auto;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text h1.title {
  top: 20%;
  left: 36%;
  color: #fff;
  text-shadow: 0 2px 3px #747474, 1px 3px 4px #222, 0 8px 3px #474747,
    0 11px 4px #747474, 0 14px 4px cyan, 0 17px 4px #343434, 0 20px 4px white;
  width: auto;
  font-size: 100px;
}

.text h2 {
  position: absolute;
  top: 55%;
  left: 27%;
  color: royalblue;
  width: auto;
  font-size: 40px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text span {
  color: cyan;
}

/* The dots indicators */
.dots {
  background-color: lightgray;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: backgroung-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

/*Fading*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*end of image slider*/

@media only screen and (max-width: 1100px) {
  .text h1 {
    font-size: 30px;
  }
  .text h1.title {
    font-size: 60px;
  }
  .text p {
    width: 100%;
    font-size: 14px;
    bottom: 10px;
  }
}
/* End of Image slider*/

/* Description and Introduction */
.About {
  margin-top: 20px;
}

.About .heading {
  font-size: 20px;
  text-align: center;
}
.About .Intro {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.About .Intro .images {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  max-width: 300px;
  flex-basis: 40%;
}

.About .Intro .paragraph .subtitle {
  margin-bottom: 20px;
}
.About .Intro .paragraph {
  margin-right: 10px;
  font-size: 20px;
  padding-left: 300px;
}

.images img {
  height: 300px;
  max-width: 100%;
}

.images .image-top {
  grid-column: 1 / span 4;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
  width: 300px;
}

.images .image-bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  width: 300px;
}

/*flipping cards*/
.features .subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cards {
  width: 100%;
  height: 260px;
  perspective: 600px;
}

.cards .card {
  float: left;
  width: 20%;
  margin-left: 60px;
}

.card1,
.card2,
.card3,
.card4 {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-face.front h2 {
  font-size: 20px;
  color: cyan;
  text-align: center;
  margin-top: 135px;
}

.card-face.back {
  background: #bbb;
  transform: rotateY(180deg);
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  transform: rotateY(180deg);
}

.card1 .card-face.front {
  background-image: url("Intro images/peaceful nature.jpg");
  background-size: cover;
}

.card2 .card-face.front {
  background-image: url("");
  background-size: cover;
}

.card3 .card-face.front {
  background-image: url("");
  background-size: cover;
}

.card4 .card-face.front {
  background-image: url("");
  background-size: cover;
}

/* End of Description and Introduction */
