/*beginning of image slider*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.slides {
  display: visible;
  list-style: none;
  width: 100%;
  min-width: 1000px;
  height: auto;
}

img {
  vertical-align: middle;
  width: 100%;
  height: 650px;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

/*next and prev buttons*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 325px;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*caption*/
.text p {
  color: #ffffff;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 50%;
  display: block;
}

.text h1 {
  color: red;
  font-size: 40px;
  padding: 100px 12px;
  position: absolute;
  bottom: 50px;
  width: auto;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text h1.title {
  top: 20%;
  left: 36%;
  color: #fff;
  text-shadow: 0 2px 3px #747474, 1px 3px 4px #222, 0 8px 3px #474747,
    0 11px 4px #747474, 0 14px 4px cyan, 0 17px 4px #343434, 0 20px 4px white;
  width: auto;
  font-size: 100px;
}

.text h2 {
  position: absolute;
  top: 55%;
  left: 27%;
  color: royalblue;
  width: auto;
  font-size: 40px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.text span {
  color: cyan;
}

/* The dots indicators */
.dots {
  background-color: lightgray;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: backgroung-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #111111;
}

/*Fading*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*end of image slider*/

@media only screen and (max-width: 1100px) {
  .text h1 {
    font-size: 30px;
  }
  .text h1.title {
    font-size: 60px;
  }
  .text p {
    width: 100%;
    font-size: 14px;
    bottom: 10px;
  }
}

  /*div class for the menu*/
    .semicircle{
        width:140px;
        height:140px;
        margin-left: -90px;
        background: url("https://icon-library.com/images/3-bar-menu-icon/3-bar-menu-icon-16.jpg");
        background-size:43px ;
        background-repeat: no-repeat;
        background-position-x: 90px;
        background-position-y: 50px;
        border-radius: 50%;
        position:fixed ;
        top: 40%;
        z-index:5;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    li{
        list-style: none;
    }
    
    .HomePage{
        width:3.3px;
        height: 3.3px;
        border-radius: 43%;
        margin-top: -5px;
        margin-left: 125px;
        position: absolute;
    }
    
    .semicircle:hover .HomePage {
        background-image:url("https://www.seekpng.com/png/full/438-4386512_home-icon-home-house-icon-house-icon-png.png") ;
        background-size: 3.0px;
        background-repeat: no-repeat;
        background-position-x:0px ;
        transform: scale(15) ;
        transition: transform 1s;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .semicircle .HomePage:hover {
        transition: transform 1s;
        transform: scale(17) ;
    }
    
    .PhysicalWB{
        width:3.3px;
        height: 3.3px;
        border-radius: 43%;
        margin-top: 43px;
        margin-left: 159px;
        position: absolute;
        background-position-x:0.4px ;
        background-position-y: 0.31px;
    }
    
    .semicircle:hover .PhysicalWB {
        background-image:url("https://icon-library.com/images/running-icon-png/running-icon-png-26.jpg") ;
        background-size: 2.4px;
        background-repeat: no-repeat;
        transition: transform 1s;
        transform: scale(15) ;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .semicircle .PhysicalWB:hover {
        transition: transform 1s;
        transform: scale(17) ;
    }
    
    .Escapism{
        width:3.3px;
        height: 3.3px;
        border-radius: 43%;
        margin-top: 103px;
        margin-left: 158px;
        position: absolute;
        transition: transform 1s;
    }
    .semicircle:hover .Escapism {
        background-image:url("https://cdn2.iconfinder.com/data/icons/the-human-body/128/meditation-512.png") ;
        background-size: 2px;
        background-repeat: no-repeat;
        background-position-x:0.4px ;
        background-position-y:0.4px ;
        transition: transform 1s;
        transform: scale(15) ;
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .semicircle .Escapism:hover {
        transition: transform 1s;
        transform: scale(17) ;
    }
    
    .Meeting{
        width:3.3px;
        height: 3.3px;
        border-radius: 43%;
        margin-top: 146px;
        margin-left: 125px;
        position: absolute;
    }
    
    .semicircle:hover .Meeting {
        background-image:url("https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png") ;
        background-size: 2.5px;
        background-repeat: no-repeat;
        background-position-y:0.4px ;
        transition: transform 1s;
        transform: scale(15);
        background-color: rgba(255, 255, 255, 0.2);
    }
    
    .semicircle .Meeting:hover {
        transition: transform 1s;
        transform: scale(17) ;
    }
